.body{
background-image: url(../img/fondo4.jpg);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.calculadora{
    font-family: 'Square Peg', cursive;
    font-size: 5rem;
}
.footer{
    width: 100% ;
    margin-top: 60%;
    background-color: antiquewhite;
}
.h3Footer{
    display: flex;
    justify-content: flex-end;
    font-family: 'Lobster', cursive;
}
.form1{
    margin-top: 10%;
    font-size: 1.5rem;
    color: rgb(38, 11, 194);
    font-weight: bold;
}
.respuesta1{
    background-color: rgb(27, 196, 78);
    margin-top: 10%;
    font-size: 1.5rem;
    font-weight: bold;
}